footer {
    text-align: center;
    padding: 3rem 0;
    color: $text-secondary;
    font-size: 0.9rem;

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
